# Dependências
node_modules
npm-debug.log*

# Arquivos de build
dist
.angular

# Arquivos de cache
.cache
.parcel-cache

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de IDE
.vscode
.idea
*.swp
*.swo

# Arquivos de log
logs
*.log

# Arquivos temporários
tmp
temp

# Arquivos de teste
coverage
.nyc_output

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore


